<appSettings>
 <add key="ProxyAddress" value="http://127.0.0.1:8733/RelayServer/RequestProcessor/proxy"/>
 <add key="StorageAddress" value="http://127.0.0.1:8733/RelayServer/RequestProcessor/files"/>
 <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
 <add key="Catalog" value="catalog.json"/>
 <add key="Accounts" value="mercedez.txt"/>
 <add key="Partslink" value="1"/>
 <add key="UpdateDirectory" value="Temp"/>
 <add key="UpdateFileArchive" value="Temp|zip"/>
 <add key="ResourceDirectory" value="Root"/>
 <add key="Proxy" value=""/>
 <add key="ProxyPort" value=""/>

  <add key="MaxSecReopenSession" value="0"/>
</appSettings>