@model NewsLog

@{
 ViewBag.Title = "Секретная комната";
}

@using (Ajax.BeginForm("AddNews", "Secret", new AjaxOptions
 {
  HttpMethod = "GET",
  InsertionMode = InsertionMode.Replace,
 }))
{
 <h2>Титульный текст</h2>
 <div>@Html.TextBoxFor(x => x.Title, new
       {
        @id = "titleTemplate"
       })</div>
 <h2>Текст сообщения</h2>
 <div>@Html.TextAreaFor(x => x.Message, new
       {
        @id = "messageTemplate"
       })</div>
 <hr/>
 <input type="submit" value="Добавить новость"/>
}